<settings>
<category label="Basic">
<setting id="english" label="English Titles" type="bool" default="false" />
<setting id="people.sort" label="People Sort Order" type="select" default="starmeter,asc" values="starmeter,asc|starmeter,desc|alpha,asc|alpha,desc|height,asc|height,desc|birth_date,asc|birth_date,desc|death_date,asc|death_date,desc|my_ratings|my_ratings,asc" />
<setting id="export" label="Show Import/Export Menu" type="bool" default="false" />
<setting label="View Mode ID" type="number" id="view" default="50"/>
</category>

</settings>